@page
@model OnlineShoeStoreApp.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Заказы";
}

<div class="container my-5">
    <h1 class="text-center mb-5" style="font-family: 'Times New Roman'; font-size: 3rem;">
        @if (User.IsInRole("Администратор") || User.IsInRole("Менеджер"))
        {
            <text>Все заказы</text>
        }
        else
        {
            <text>Мои заказы</text>
        }
    </h1>

    @if (!Model.Orders.Any())
    {
        <p class="text-center fs-3">Заказов нет.</p>
    }
    else
    {
        <table class="table table-bordered table-striped" style="font-family: 'Times New Roman'; font-size: 1.3rem;">
            <thead class="table-success">
                <tr>
                    <th>Номер заказа</th>
                    <th>Дата заказа</th>
                    <th>Дата доставки</th>
                    <th>Состав</th>
                    <th>Код получения</th>
                    <th>Итоговая стоимость</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    var total = order.OrderItems.Sum(oi => oi.Quantity * oi.Product.Price * (1 - oi.Product.Discount / 100m));
                    <tr>
                        <td>@order.OrderId</td>
                        <td>@order.OrderDate.ToString("dd.MM.yyyy")</td>
                        <td>@order.DeliveryDate.ToString("dd.MM.yyyy")</td>
                        <td>
                            @string.Join(", ", order.OrderItems.Select(item =>
                            $"{item.Product.Article} ({item.Quantity} шт.) — {Math.Round(item.Quantity * item.Product.Price * (1 - item.Product.Discount / 100m))} руб."
                                        ))
                        </td>
                        <td>@order.ReceiveCode</td>
                        <td>@Math.Round(total) руб.</td>
                        <td>@(order.IsFinished ? "Доставлен" : "Новый")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>